/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

/* Selecting all elements */
*, *::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-alata: 'Alata', sans-serif;
    --font-josefin-sans: 'Josefin Sans', sans-serif;
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --dark-gray: hsl(0, 0%, 55%);
    --very-dark-gray: hsl(0, 0%, 41%);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: var(--font-alata);
    padding: 0;
}

a {
    display: inline-block;
    text-decoration: none;
}

/**************** HEADER Styling ****************/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 5rem 10rem;
    font-weight: 400;
}

header .logo a {
    color: var(--white);
    font-size: 28px;
}

header .navbar ul li {
    display: inline-block;
    font-weight: 300;
}

header .navbar ul li a {
    padding: 0 15px;
    color: var(--white);
    position: relative;
}

header .navbar ul li a::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--white);
    transform: scaleX(0);
    transition: transform 250ms;
}

header .navbar ul li a:hover::after {
    transform: scaleX(0.3);
}

.nav-sd-icon {
    display: none;
}

.hamburger {
    display: none;
}

/******* Media Query for HEADER 980px  *******/
@media (max-width: 980px) {

    header {
        padding: 1.5rem 1rem;
    }

    header .navbar {
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        transition: transform 300ms;
        background-color: var(--black);
        width: 100%;
        height: 100vh;
        z-index: 9;
    }

    header .navbar.active  {
        transform: translateX(0);
    }

    .nav-sd-icon {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-top: 26px;
        padding: 0 1.5rem;
    }

    .nav-sd-icon a {
        color: var(--white);
        font-size: 25px;
    }

    .nav-sd-icon .close-icon {
        margin-top: 10px;
    }
    
    .hamburger {
        display: block;
    }

    header .navbar ul {
        margin-top: 100px;
    }
    header .navbar ul li {
        display: block;
        margin-top: 20px;
        padding: 0 .7rem;
    }

    header .navbar ul li a {
        text-transform: uppercase;
        font-size: 20px;
        color: var(--dark-gray);
        letter-spacing: 1px;
        font-weight: lighter;
    }
}

/**************** HERO Styling ****************/
.hero {
    padding: 2.5rem 10rem;
    object-fit: contain;
    height: 100vh;
    color: var(--white);
    overflow-y: hidden;
}

.hero .hero-backgroung-img {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("images/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    width: 100%;
    height: 100vh;
    object-fit: contain;
}

.hero .background-color {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0 0 0 / 0.5);
    z-index: 1;
}

/* Heading TEXT */
.hero .heading-text {
    width: 650px;
    padding: 2rem;
    border: 2px solid var(--white);
    margin-top: 10vh;
}

.hero .heading-text h1 {
    font-family: var(--font-josefin-sans);
    text-transform: uppercase;
    font-weight:lighter;
    width: 100%;
    font-size: 58px;
    letter-spacing: 3px;
    line-height: 64px;
}


/******* Media Query for HERO 980px *******/
@media (max-width: 980px) {

    .hero {
        padding: 1rem;
    }

    .hero .heading-text {
        width: 80%;
        padding: 2rem;
        margin: auto;
        border: 3px solid var(--white);
        margin-top: 30vh;
    }

    .hero .heading-text h1 {
        font-size: 2.3rem;
        line-height: 34px;
        margin: auto;
    }

}

/******* Media Query for HERO 556px *******/
@media (max-width: 556px) {

    .hero .hero-backgroung-img {
        background-image: url("images/mobile/image-hero.jpg");
        height: 100vh;
    }

    .hero .background-color {
        height: 100vh;
    }

    .hero .heading-text {
        width: 100%;
        padding: 1.5rem;
        margin-top: 50%;
        transform: translate(0, -50%);
    }

    .hero .heading-text h1 {
        font-size: 38px;
        line-height: 42px;
        width: 100%;
        margin: auto;
    }
}

/**************** ABOUT Section Styling ****************/
.about {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    padding: 1rem 10rem;
    margin: auto;
    margin-top: 0;
    overflow: hidden;
}

.about .about-image {
    width: 50%;
}

.about .about-content {
    padding: 5rem;
    width: 100%;
    background-color: var(--white);
    transform: translate(-30px, 60px);
}

.about .about-content h2 {
    text-transform: uppercase;
    font-size: 3rem;
    font-family: var(--font-josefin-sans);
    font-weight: 300;
    line-height: 48px;
}

.about .about-content p {
    color: var(--very-dark-gray);
    margin-top: 5%;
    line-height: 28px;
    font-size: 15px;
    width: 102.5%;
}

/******* Media Query for ABOUT 1124px *******/
@media (max-width: 1124px) {
    .about .about-content h2 {
        font-size: 2rem;
    }

    .about .about-image {
        margin: auto;
        width: 550px;
    }

    .about .about-image img{
        margin: auto;
        width: 500px;
    }
}

/******* Media Query for ABOUT 980px *******/
@media (max-width: 980px) {
    .about {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 1rem;
    }
    
    .about .about-image {
        text-align: center;
        margin: auto;
        width: 100%;
    }

    .about .about-image img{
        width: 80%;
        margin: auto;
    }

    .about .about-content {
        padding: 1.5rem;
        width: 100%;
        text-align: center;
        margin: auto;
        transform: translate(0);
    }

    .about .about-content h2 {
        font-size: 2rem;
    }

    .about .about-content p {
        width: 100%;
        line-height: 25px;
    }
}

/******* Media Query for ABOUT 556px *******/
@media (max-width: 556px) {
    .about .about-image img {
        width: 100%;
        margin: auto;
    }

    .about .about-content h2 {
        font-size: 2rem;
        line-height: 30px;
    }
}

/*************** OUR CREATION Section Styling ***************/
.our-creation {
    width: 100%;
    padding: 5rem 10rem;
    margin-top: 100px;
}

/****** Our Creation HEADING ******/
.our-creation .creation-heading {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--black);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.our-creation .creation-heading h2 {
    font-size: 3rem;
    font-weight: 300;
    font-family: var(--font-josefin-sans);
}

/****** Our Creation ANCHOR TAGS ******/
.our-creation a {
    color: var(--black);
    text-transform: uppercase;
    padding: 6px 30px;
    letter-spacing: 4px;
    outline: 2px solid var(--black);
    display: inline-block;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 200ms;
    font-weight: 300;
}

.our-creation .see-all-btn-2 {
    display: none;
}

.our-creation a:hover {
    color: var(--white);
}

.our-creation a::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 110%;
    background-color: var(--black);
    z-index: -1;
    transform-origin: left;
    transform: scaleX(0);
    transition:transform 300ms;
}

.our-creation a:hover::before { 
    transform: scaleX(1);
}

/****** Our Creation CONTENT for _MOBILE_ ******/
.creation-content-mobile {
    display: none;
    visibility: hidden;
    opacity: 0;
}

/****** Our Creation CONTENT for _DESKTOP_ ******/
.creation-content-desktop {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(260px, 100%), 1fr));
    gap: 30px;
    margin-top: 40px;
    align-self: center;
    justify-self: center;
}

/****** Our Creation FIGURE Styling ******/
.creation-content-desktop figure {
    position: relative;
    width: max-content;
    margin: auto;
    margin-top: 30px;
    cursor: pointer;
    object-fit: fill;
    transition: opacity 200ms;
}

.creation-content-desktop figure::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 1;
    transition: background-color 200ms;
}

.creation-content-desktop figure:hover::before {
    background-color: #fff6;
}

.figure-img {
    position: relative;
    width: 260px;
    height: fit-content;
}

.creation-content-desktop .figure-img::before {
    content: '';
    position: absolute;
    left: 0;
    width: 260px;
    height: 450px;
    background-image: linear-gradient(to top, rgb(0 0 0 / 0.6), transparent);
}

.creation-content-desktop .figure-img img {
    width: 260px;
    height: 450px;
    object-fit: cover;
}

.creation-content-desktop figure figcaption {
    position: absolute;
    bottom: 40px;
    left: 40px;
    text-transform: uppercase;
    color: var(--white);
    font-size: 34px;
    font-family: var(--font-josefin-sans);
    font-weight: 400;
    z-index: 2;
    transition: color 200ms;
}

.creation-content-desktop figure:hover > figcaption {
    color: var(--black);
}

/******* Media Query for OUR CREATION 980px *******/
@media (max-width: 980px) {

    .our-creation {
        width: 100%;
        padding: 0;
        margin-top: 80px;
    }

    .our-creation .creation-heading {
        width: max-content;
        margin: auto;
    }
    .our-creation .creation-heading h2 {
        font-size: 2rem;
    }

    .see-all-btn {
        display: none;
    }

    .creation-content-desktop {
        display: none;
        visibility: hidden;
        opacity: 0;
    }

    .creation-content-mobile {
        display: grid;
        align-items: center;
        justify-content: center;
        visibility: visible;
        opacity: 1;
        grid-template-rows: repeat(aoto-fit ,100%);
        gap: 30px;
        margin-top: 40px;
        padding: 1rem;
        text-transform: uppercase;
    }

    .creation-content-mobile figure {
        position: relative;
        width: 100%;
    }

    .creation-content-mobile .figure-img {
        width: 100%;
        margin: auto;
    }

    .creation-content-mobile .figure-img::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 98%;
        background-image: linear-gradient(to right, rgb(0 0 0 / 0.9), transparent);
    }
    
    .creation-content-mobile .figure-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: auto;
    }

    .creation-content-mobile figure figcaption {
        position: absolute;
        bottom: 40px;
        left: 40px;
        text-transform: uppercase;
        color: var(--white);
        font-size: 34px;
        font-family: var(--font-josefin-sans);
        font-weight: 400;
        z-index: 2;
        transition: color 200ms;
    }

}

/******** Media Query OUR_CREATION 465px  ********/
@media (max-width: 465px) {

    .our-creation {
        padding: 0 10px;
    }

    .creation-content-mobile .figure-img::before {
        height: 96%;
    }
    
    .creation-content-mobile .figure-img img {
        height: 100%;
        object-fit: contain;
    }

    .creation-content-mobile figure figcaption {
        bottom: 15%;
        left: 10%;
        font-size: 30px;
    }
}

/*************** FOOTER Section Styling ***************/
.footer {
    width: 100%;
    background-color: var(--black);
}

.footer .footer-contents {
    width: 100%;
    padding: 5rem 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

footer .footer-left,
footer .footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

/****** Footer LEFT Styling ******/
footer .footer-left .footer-nav ul li {
    display: inline;
}

footer .footer-left .footer-nav ul li a {
    padding: 5px 0;
    margin-right: 20px;
    font-size: 15px;
    color: var(--white);
    position: relative;
}

footer .footer-left .footer-nav ul li a::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: var(--white);
    transform: scaleX(0);
    transition: transform 250ms;
}

footer .footer-left .footer-nav ul li a:hover::after {
    transform: scaleX(0.4);
}

/****** Footer RIGHT Styling ******/
footer .footer-right {
    align-items: flex-end;
    width: max-content;
}

footer .footer-right .social-icons img {
    margin-left: 20px;
}

footer .footer-right .copy-right {
    color: var(--very-dark-gray);
    font-size: 15px;
}

@media (max-width: 880px) {
    .footer .footer-contents {
        flex-direction: column;
        text-align: center;
    }

    footer .footer-left,
    footer .footer-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    footer .footer-left .footer-nav ul li a {
        margin: 0 10px;
    }

    footer .footer-right .social-icons img {
        margin: 0 10px;
    }
}

@media (max-width: 556px) {

    footer .footer-left .footer-nav ul li {
        display: block;
        margin: 5px auto;
    }

    footer .footer-right {
        margin-top: 20px;
    }
}

.attribution { 
    font-size: 13px; 
    text-align: center; 
    width: fit-content;
    margin: auto;
    color: var(--dark-gray); 

}
.attribution a { 
    color: var(--white); 
}